<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- recap module and routing
  <h2>Admin routing</h2>
  <ul>
    <li><a routerLink="admin/login">login</a></li>
    <li><a routerLink="admin/list">list</a></li>
  </ul>
  <h2>Users routing</h2>
  <ul>
    <li><a routerLink="users/login">login</a></li>
    <li><a routerLink="users/list">list</a></li>
  </ul>
  <router-outlet></router-outlet> -->

  <!--21-08-2022
     v-34 lazy loading
  make module -admin-lazy-loading-routing
  c->login,list comman for all
  -admin-lazy-loading-routing
  ,make two components
  use module in lazy loading way,
  make routing ,and routing link -->
<!--   
  <h2>admin-lazy-loading-routing</h2>
  <ul>
    <li><a routerLink="admin-lazy-loading-routing/admin-lazy-loading-routing-login">login</a></li>
    <li><a routerLink="admin-lazy-loading-routing/admin-lazy-loading-routing-list">list</a></li>
  </ul>

  <h2>users-lazy-loading-routing</h2>
  <ul>
    <li><a routerLink="users-lazy-loading-routing/users-lazy-loading-routing-login">login</a></li>
    <li><a routerLink="users-lazy-loading-routing/users-lazy-loading-routing-list">list</a></li>
  </ul>
  <router-outlet></router-outlet> -->

  <!-- v-35 lazy loading component
make two components
adminlist-lz-lo-com
userlist-lz-lo-com
make 2 button for loading component
write component loading function 
<h2>lazy loading component </h2>
<button (click)="lzlocoadminlist()">lz lo com adminlist</button>
<button (click)="lzlocouserslist()">lz lo com userslist</button>-->

<app-firebase-demo></app-firebase-demo>
</body>

</html>